@import url("https://fonts.googleapis.com/css?family=Halant:400,700&display=swap");

@font-face {
  font-family: "Aileron Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Regular"),
    url("../assets/font/Aileron-Regular.woff") format("woff");
}

@font-face {
  font-family: "Aileron Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Italic"),
    url("../assets/font/Aileron-Italic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Thin"),
    url("../assets/font/Aileron-Thin.woff") format("woff");
}

@font-face {
  font-family: "Aileron UltraLight";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron UltraLight"),
    url("../assets/font/Aileron-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Aileron Thin Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Thin Italic"),
    url("../assets/font/Aileron-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron UltraLight Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron UltraLight Italic"),
    url("../assets/font/Aileron-UltraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Light";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Light"),
    url("../assets/font/Aileron-Light.woff") format("woff");
}

@font-face {
  font-family: "Aileron Light Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Light Italic"),
    url("../assets/font/Aileron-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron SemiBold"),
    url("../assets/font/Aileron-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Aileron SemiBold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron SemiBold Italic"),
    url("../assets/font/Aileron-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Bold"),
    url("../assets/font/Aileron-Bold.woff") format("woff");
}

@font-face {
  font-family: "Aileron Bold Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Bold Italic"),
    url("../assets/font/Aileron-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Black";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Black"),
    url("../assets/font/Aileron-Black.woff") format("woff");
}

@font-face {
  font-family: "Aileron Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Heavy"),
    url("../assets/font/Aileron-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Aileron Black Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Black Italic"),
    url("../assets/font/Aileron-BlackItalic.woff") format("woff");
}

@font-face {
  font-family: "Aileron Heavy Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Aileron Heavy Italic"),
    url("../assets/font/Aileron-HeavyItalic.woff") format("woff");
}
