.project__image1,
.project__image2,
.project__image3,
.project__image4,
.project__image5 {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s;
}
.fade-in {
  transform: translateY(0px);
  opacity: 1;
}

#explicite {
  .project__image1 {
    background: linear-gradient(#ffffff 25.9%, #f7f7f7 25.9%);

    @media (max-width: 768px) {
      padding: 0 20px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image2,
  .project__image4 {
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image3 {
    background-color: #000000;
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px 0;
    }

    div {
      max-width: 939px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image5 {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 200px;

    @media (max-width: 768px) {
      padding: 0 20px;
    }
    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
}

#avenir {
  .project__image1 {
    background: linear-gradient(#ffffff 31%, #e9efff 31%);
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 0 20px 40px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image3 {
    padding-bottom: 89px;
  }
  .project__image2,
  .project__image3 {
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image4 {
    background-color: #e9efff;
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
}
