.project__image1,
.project__image2,
.project__image3,
.project__image4,
.project__image5 {
  transform: translateY(20px);
  opacity: 0;
  transition: 0.6s;
}
.fade-in {
  transform: translateY(0px);
  opacity: 1;
}

#explicite {
  .project__image1 {
    background: linear-gradient(#ffffff 25.9%, #f7f7f7 25.9%);

    @media (max-width: 768px) {
      padding: 0 20px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image2,
  .project__image4 {
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image3 {
    background-color: #000000;
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px 0;
    }

    div {
      max-width: 939px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image5 {
    background-color: #f7f7f7;
    padding-top: 100px;
    padding-bottom: 200px;

    @media (max-width: 768px) {
      padding: 0 20px;
    }
    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
}

#avenir {
  .project__image1 {
    background: linear-gradient(#ffffff 31%, #e9efff 31%);
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 0 20px 40px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image3 {
    padding-bottom: 89px;
  }
  .project__image2,
  .project__image3 {
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image4 {
    background-color: #e9efff;
    padding: 100px 0;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
}

#worldia {
  .project__image1 {
    position: relative;
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 0 20px 40px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image1::after {
    content: "";
    position: absolute;
    top: 26rem;
    left: 0;
    width: 92%;
    height: 460px;
    background-color: #466679;
    z-index: -1;

    @media (max-width: 768px) {
      width: 100%;
      top: 39vw;
      height: 45vw;
    }
  }
  .project__image2 {
    background: linear-gradient(#ffffff 24.5%, #e3edf2 24.5%);
    padding-bottom: 100px;
    position: relative;

    @media (max-width: 768px) {
      padding: 0 20px 40px;
    }

    div {
      max-width: 940px;
      margin: auto;
    }
  }
  .project__image2::after {
    content: "";
    position: absolute;
    top: 3.3rem;
    right: 0;
    width: 92%;
    height: 450px;
    background-color: #e88b3e;
    z-index: -1;

    @media (max-width: 768px) {
      width: 100%;
      top: 5vw;
      height: 43.4vw;
    }
  }
}

#renault {
  .project__image1 {
    background: linear-gradient(#ffffff 14%, #fff3f2 14%);
    padding-bottom: 10px;

    @media (max-width: 768px) {
      padding: 0 20px 40px;
    }

    div {
      max-width: 1440px;
      margin: auto;
    }
  }
  .project__image2 {
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image3 {
    background-color: #fff4e2;
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image4 {
    background: linear-gradient(#fff4e2 62%, #ffffff 62%);
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image5 {
    background: linear-gradient(#ffffff 55%, #e5f8ff 55%);
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
}

#oncv {
  .project__image1 {
    background: linear-gradient(#ffffff 12%, #e2f1ff 12%);
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image2 {
    padding-top: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
  .project__image3 {
    background: linear-gradient(
      #ffffff 6%,
      #e2f1ff 6%,
      #e2f1ff 6%,
      #e2f1ff 16%,
      #ffffff 16%
    );
    padding-top: 100px;
    padding-bottom: 100px;

    @media (max-width: 768px) {
      padding: 40px 20px;
    }

    div {
      max-width: 940px;
      object-fit: contain;
      margin: auto;
    }
  }
}
